<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>

</head>
<body class="bg-dark">

<div class="container position-sticky   ">
  <form class="d-flex">
    <input id="input" class="form-control bg-dark text-light me-2"
           placeholder="Search" aria-label="Search" type="search"/>
    <button (click)="submitSearch();" class="btn bg-primary" type="submit">Submit</button>
  </form>
</div>

<div class="container text-light py-2 my-2 bg-dark ">
  <ul>
    <div class="" *ngIf="this.itemList != null">
      <li class="" *ngFor="let item of this.itemList.items; let i = index">
        {{ i + 1 }} : {{ item.snippet.title }} <br> <br>
        <div class="d-flex flex-row justify-content-around">
          <p>Video ID:  {{ item.id.videoId }}</p>
          <i (click)="download(item.id.videoId, item.snippet.title)" class="text-primary bi-download"></i>
        </div>
      </li>
    </div>
  </ul>
</div>



<div id="showresult"></div>
</body>
</html>
