<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Player</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
<main>
  <!-- Search bar-->

  <div class="container position-sticky my-1 top-0">
    <form class="d-flex">
      <input [(ngModel)]="searchstring" #ctrl="ngModel" id="searchinput" class="form-control bg-dark text-light me-2"
             placeholder="Search" aria-label="Search" type="search" (keyup)="searchForString($event)"
             [ngModelOptions]="{standalone: true}"/>
      <button (click)="cancelSearch();" class="btn bg-primary" type="submit">Cancel</button>
    </form>
  </div>

  <div id="showresult">

  </div>
  <!-- Wiedergabelisten -->

  <div class="container">
    <div class="row overflow-auto ">
      <div class="col" *ngFor="let element of itemList; let i = index">
        <p type="button" (click)="getSongsFromPlalist(i)"> {{ itemList[i].name }}</p>
      </div>

    </div>
    <p type="button" (click)="allSongs()"> All Songs</p>

  </div>


  <!-- Player and songs-->
  <div class="container">

    <div class="content text-black">
      <mat-list color="primary">
        <h3 mat-subheader>Songs</h3>
        <mat-list-item *ngFor="let file of files; let i = index" (click)="openFile(file, i)">

          <mat-list-item (click)="currentSongClickedon(i)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">

            <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
            <h4 mat-line class="text-dark overflow-auto ">{{ file.name }}</h4>
            <h5 mat-line class="text-dark">by {{ file.artist }}</h5>

            <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>

            <mat-divider></mat-divider>

          </mat-list-item>

        </mat-list-item>

      </mat-list>
    </div>


  </div>
  <!-- navigation tool-->
  <div class="m-0 p-0">
    <div class="media-footer position-fixed bottom-0 w-100 ">
      <div class="bg-dark text-center w-100 ">

        <div class="w-75  text-light justify-content-center ">
          <mat-slider class="align-items-center col time-slider text-light" min="0" [max]="state?.duration" step="1"
                      [value]="state?.currentTime"
                      (input)="onSliderChangeEnd($event)"></mat-slider>
        </div>


        <div class="">
          <div class="media-action-bar bg-dark pb-3 text-center">
            <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
              <mat-icon class="text-primary" mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="pause()" *ngIf="state?.playing">
              <mat-icon class="text-primary" mat-list-icon>pause</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal bg-secondary  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content bg-black">
        <div class="modal-header">
          <h5 class="modal-title text-light" id="staticBackdropLabel">{{currentSongName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class=" modal-body h-100">

          <div class="h-75 text-black">

          </div>

          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>test</p>

          <div class=" ">
            <div class="text-light d-flex w-100 justify-content-between text-primary">
              <div class=" h6 text-primary mt-1"> {{ state?.readableCurrentTime }}</div>
              <div class="h6 text-primary mt-1  ">{{ state?.readableDuration }}</div>
            </div>

            <div class="w-100 d-flex justify-content-center">
              <mat-slider class="w-50 col time-slider text-light" min="0" [max]="state?.duration" step="1"
                          [value]="state?.currentTime"
                          (input)="onSliderChangeEnd($event)"></mat-slider>
            </div>
          </div>


          <div class="d-flex justify-content-center">
            <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
              <mat-icon class="text-primary" mat-list-icon>skip_previous</mat-icon>
            </button>
            <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
              <mat-icon class="text-primary" mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="pause()" *ngIf="state?.playing">
              <mat-icon class="text-primary" mat-list-icon>pause</mat-icon>
            </button>
            <button mat-button [disabled]="isLastPlaying()" (click)="next()">
              <mat-icon class="text-primary" mat-list-icon>skip_next</mat-icon>
            </button>
            <button id="shuffleButton" mat-button (click)="shuffle(this.files)"[ngClass]=" {'green' : toggle, 'red': !toggle}">
              <i class="bi bi-shuffle text-primary"></i>
            </button>


          </div>
        </div>

        <div class=" modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  <script>
    var volume = document.querySelector("#volume-control");
    volume.addEventListener("change", function (e) {
      this.currentFile.volume = e.currentTarget.value / 100;
    });

    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })

  </script>


</main>
</body>
</html>
