<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>

<!-- About-->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-lg">
        <div class="card bg-dark text-light">
          <div class="card-body text-light">
            <div class="h1 mb-3">
              <i class="bi bi-question"></i>
            </div>
            <h3 class="card-title mb-3">What is it about?</h3>
            <p class="card-text">
              This side is a selve mad music player for anyone who likes to listening to music without any adds. You
              simple yan
              listen to music that is already available or just upload your own mp3 files.
            </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-secondary text-light">
          <div class="card-body text-light">
            <div class="h1 mb-3">
              <i class="bi bi-wrench"></i>
            </div>
            <h3 class="card-title mb-3">How to use</h3>
            <p class="card-text">
              This app is very simple to use. To use the player just click on the play button on the left bottom, or use
              the navigation bar. To upload a Song you can go to "upload", select your file and press submit
            </p>
            <a href="#" class="btn btn-dark">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-light">
            <div class="h1 mb-3">
              <i class="bi bi-person-fill"></i>
            </div>
            <h3 class="card-title mb-3">Who am i?</h3>
            <p class="card-text">
              I am just a little nerd who just wants to listen to his music and likes to code. Yeah, maybe it was
              unnecessary, because there
              are a lot of music players, but i just wanted to build my own :)
            </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Question-->

<section id="questions" class="p-5">
  <div class="container">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questionsid">
      <!--Item1-->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-1">
            Where exactly are u locate?
          </button>
        </h2>
        <div id="question-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            ipsum a, quo iusto asperiores corporis nostrum dolorum incidunt
            facilis natus reprehenderit! Impedit rem, voluptate molestiae
            aliquid quo cumque maxime enim? Velit nulla accusantium sint
            eum, dicta dignissimos a? Magnam ab odit aliquam corrupti iusto
            consectetur repellendus eligendi amet explicabo assumenda!
          </div>
        </div>
      </div>
      <!--second item-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-2">
            Question 2:
          </button>
        </h2>
        <div id="question-2" class="accordion-collapse collapse" data-bs-parent="#questions">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
            nobis sequi quisquam, autem distinctio consequuntur dolor magni
            beatae ipsam eum recusandae impedit voluptatem molestias rerum
            est laborum pariatur, officiis, tenetur minus architecto
            nesciunt error? Aut voluptas atque numquam sed dignissimos
            doloribus est cupiditate ratione nulla accusantium, eos unde
            consectetur soluta.
          </div>
        </div>
      </div>
      <!--Third item-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-3" a>
            Question 3
          </button>
        </h2>
        <div id="question-3" class="accordion-collapse collapse" data-bs-parent="#questions">
          <div class="accordion-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A et
            debitis, animi minima nihil doloribus exercitationem quis omnis
            obcaecati dignissimos? Iure recusandae alias similique quam
            animi quo iusto consequuntur fugit! Officia, possimus? Mollitia
            eum repudiandae quam, ipsa ipsam aperiam consectetur
            exercitationem eius sed praesentium! At libero asperiores
            aliquam quaerat quidem?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-4">
            Question 3
          </button>
        </h2>
        <div id="question-4" class="accordion-collapse collapse" data-bs-parent="#questions">
          <div class="accordion-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A et
            debitis, animi minima nihil doloribus exercitationem quis omnis
            obcaecati dignissimos? Iure recusandae alias similique quam
            animi quo iusto consequuntur fugit! Officia, possimus? Mollitia
            eum repudiandae quam, ipsa ipsam aperiam consectetur
            exercitationem eius sed praesentium! At libero asperiores
            aliquam quaerat quidem?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingfive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-5">
            Question 3
          </button>
        </h2>
        <div id="question-5" class="accordion-collapse collapse" data-bs-parent="#questions">
          <div class="accordion-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A et
            debitis, animi minima nihil doloribus exercitationem quis omnis
            obcaecati dignissimos? Iure recusandae alias similique quam
            animi quo iusto consequuntur fugit! Officia, possimus? Mollitia
            eum repudiandae quam, ipsa ipsam aperiam consectetur
            exercitationem eius sed praesentium! At libero asperiores
            aliquam quaerat quidem?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>
